img {
  height: max-content;
}
.row > h1{
  text-align: center;
}
.btn-lg{
  float: right;
  margin-bottom: 1%;
}
p{
  max-height: 52px;
    overflow: hidden;
}
.card-img, .card-img-top {
 overflow: hidden !important;
 height: 200px !important;
}
.product_search{
  float: right;
}
// .form_card{
//   width: 50%;
// }